@charset "UTF-8";
:root {
  --text-color: #4E4E4E;
  --text-color-other: #ED0081;
  --text-color-hover: #ED0081;
  --btn-color: #ED0081;
  --color-border-separator: #CBCBCB;
  --table-border-color:#ED0081;
}

/* General */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}

button, a {
  outline: none;
}
button *, a * {
  outline: none;
}

section .title {
  color: var(--text-color-other) !important;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding-top: 3rem;
}
@media screen and (max-width: 1080px) {
  .container {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media screen and (max-width: 769px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

/* End - General */
/* Header - Navbar */
header {
  max-width: 1024px;
  margin: auto;
}
header nav {
  color: var(--text-color);
  background-color: white;
  display: flex;
  justify-content: space-around;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
header nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0 1rem;
}
header nav ul li a i {
  font-size: 1.44rem;
  color: inherit;
  margin-bottom: 5px;
}
header nav ul li a:hover {
  color: var(--text-color-hover);
}
header nav ul li a.logo-upate img {
  height: 2rem;
}
header nav ul.info li {
  display: flex;
}
header nav ul.info li a {
  flex-direction: row;
}
header nav ul.info li a i {
  margin: 0 10px;
}
@media screen and (max-width: 769px) {
  header nav ul.info {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  header nav ul:not(.info) {
    justify-content: initial;
    width: 100%;
  }
  header nav ul:not(.info) li:first-child {
    flex: 1 0 0;
  }
  header nav ul:not(.info) li:first-child a.logo-upate img {
    margin-right: auto;
  }
}

/* End - Header - Navbar */
/* Section 1 */
.container section .principal {
  background-color: white;
}
.container section .principal img {
  margin: auto;
  width: 100%;
}
.container section .principal article {
  display: flex;
  flex-wrap: wrap;
}
.container section .principal article .description {
  flex: 1 0 70%;
  display: flex;
  color: var(--text-color);
}
.container section .principal article .description .info {
  padding: 1rem 0;
  flex: 3;
}
.container section .principal article .description .info h1 {
  font-size: 2rem;
  margin: 0;
}
.container section .principal article .description .info .icons {
  display: block;
}
.container section .principal article .description .info .icons i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.container section .principal article .description .added {
  flex: 1;
  padding: 2rem 2px;
}
.container section .principal article .description .added .stars {
  color: orange;
  display: block;
}
.container section .principal article .description .added .stars * {
  color: inherit;
}
.container section .principal article .reservation {
  flex: 1 0 30%;
  color: var(--text-color);
  padding: 1rem 2px;
  max-height: 9rem;
  overflow-y: visible;
}
.container section .principal article .reservation p {
  display: inline-block;
  min-width: 50%;
  white-space: nowrap;
  margin: 0;
}
.container section .principal article .reservation p span {
  color: var(--text-color-other);
}
.container section .principal article .reservation .total {
  margin: 3rem 0 0.6rem 0;
}
.container section .principal article .reservation .total strong {
  font-size: 1.4rem;
}
@media screen and (max-width: 769px) {
  .container section .principal article .reservation {
    flex-basis: 100%;
    display: flex;
  }
  .container section .principal article .reservation .data {
    flex: 1;
  }
  .container section .principal article .reservation .total {
    margin: 0;
  }
  .container section .principal article .reservation .total p {
    display: block;
  }
}
.container section .principal article .horary {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  padding: 0.2rem 2px;
  border-bottom: 1px solid var(--color-border-separator);
}
.container section .principal article .horary h2 {
  flex-grow: 1;
}
.container section .principal article .horary ul {
  flex-grow: 2;
  display: flex;
  padding: 0;
  list-style: none;
}
.container section .principal article .horary ul li {
  margin-right: 2rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
  text-align: center;
}
.container section .principal article .horary ul li strong {
  display: block;
}
.container section .principal article .horary ul li.separator {
  border-right: 1px solid #CBCBCB;
}
@media screen and (max-width: 769px) {
  .container section .principal article .horary {
    flex-basis: 100%;
  }
  .container section .principal article .horary ul li:not(.separator) {
    flex: 1;
  }
}

/* End - Section 1 */
/* Section 2 */
.container section .learn_more {
  border-bottom: 1px solid var(--color-border-separator);
  background-color: white;
  padding: 2rem 0;
}
.container section .learn_more h2 {
  margin-top: 0;
}
.container section .learn_more p {
  color: inherit;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 769px) {
  .container section .learn_more p {
    text-align: justify;
  }
}

/* End - Section 2 */
/* Section 3 */
.container section .closeness {
  border-bottom: 1px solid var(--color-border-separator);
  background-color: white;
  padding: 2rem 0;
}
.container section .closeness h2 {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
}
.container section .closeness h2 .see-map {
  flex-basis: 20%;
  text-align: center;
}
.container section .closeness p {
  display: flex;
  color: inherit;
  text-align: left;
}
.container section .closeness p strong {
  flex-basis: 20%;
}
.container section .closeness p .content {
  flex-basis: 60%;
}
.container section .closeness p .distance {
  flex-basis: 20%;
  text-align: center;
}
@media screen and (max-width: 769px) {
  .container section .closeness p {
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
  .container section .closeness p strong {
    flex-basis: 100%;
    margin-bottom: 0.5rem;
  }
  .container section .closeness p .content {
    flex-basis: 80%;
  }
}

/* End - Section 3 */
/* Section 4 */
.container section .services {
  border-bottom: 1px solid var(--color-border-separator);
  background-color: white;
  padding: 2rem 0;
}
.container section .services ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}
.container section .services ul li {
  flex-basis: 50%;
  font-size: 1rem;
  vertical-align: middle;
  margin-bottom: 1rem;
}
.container section .services ul li i {
  margin-right: 1rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 769px) {
  .container section .services ul {
    max-width: 100%;
  }
}

/* End - Section 4 */
/* Section 5 */
.container section .instructions {
  border-bottom: 1px solid var(--color-border-separator);
  background-color: white;
  padding: 2rem 0;
}
@media screen and (max-width: 769px) {
  .container section .instructions {
    text-align: justify;
  }
}

/* End - Section 5 */
/* Section 6 */
.container section .available {
  border-bottom: 1px solid var(--color-border-separator);
  background-color: white;
  padding: 2rem 0;
}
.container section .available ul.list-style li {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.container section .available ul.list-style li:before {
  content: "• ";
  color: var(--text-color-other);
  margin-left: -0.5rem;
}
.container section .available table {
  width: 100%;
  background-color: #F7F7F7;
  border-collapse: separate;
  border-spacing: 6px 12px;
}
@media screen and (max-width: 769px) {
  .container section .available table {
    border: 2px solid var(--table-border-color);
    border-radius: 20px !important;
    border-spacing: 5px 5px;
  }
}
.container section .available table thead {
  background-color: white;
  text-transform: uppercase;
}
.container section .available table thead tr {
  background-color: white;
}
.container section .available table thead tr th {
  color: var(--text-color-other);
  position: relative;
  padding: 1rem 0.2rem;
}
.container section .available table thead tr th.type, .container section .available table thead tr th:first-child {
  max-width: 292px;
  width: 292px;
}
.container section .available table thead tr th .detail, .container section .available table thead tr th:last-child {
  max-width: 250px;
  width: 250px;
}
@media screen and (max-width: 769px) {
  .container section .available table thead {
    display: none;
  }
}
.container section .available table tbody {
  font-size: 0.9rem;
}
.container section .available table tbody tr td {
  background-color: white;
}
.container section .available table tbody tr td.type img {
  display: block;
  width: 100%;
  margin: auto;
}
.container section .available table tbody tr td.type .content {
  display: block;
  margin: auto;
  max-width: 80%;
}
.container section .available table tbody tr td.type .content h3 {
  text-transform: capitalize;
}
.container section .available table tbody tr td.type .content ul li {
  padding: 0.3rem 0;
}
.container section .available table tbody tr td.type .content ul li i {
  width: 1.6rem;
}
.container section .available table tbody tr td.options {
  max-width: 160px;
  width: 160px;
}
.container section .available table tbody tr td.price {
  text-align: center;
}
.container section .available table tbody tr td.price span {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.container section .available table tbody tr td.price span strong {
  font-size: 1.6rem;
}
.container section .available table tbody tr td.price {
  text-align: center;
}
.container section .available table tbody tr td.price .title-r {
  display: none;
}
.container section .available table tbody tr td.price span {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.container section .available table tbody tr td.price span strong {
  font-size: 1.6rem;
}
.container section .available table tbody tr td.choose {
  text-align: center;
}
.container section .available table tbody tr td.detail {
  padding: 0.5rem 1rem;
}
.container section .available table tbody tr td.detail span {
  width: 90%;
  margin: 0.5rem auto;
  display: block;
}
.container section .available table tbody tr td.detail span.price {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.container section .available table tbody tr td.detail span.price strong {
  font-size: 1.6rem !important;
}
.container section .available table tbody tr td.detail span.price small {
  display: block;
  font-size: small;
  text-transform: initial;
}
.container section .available table tbody tr td.detail button {
  width: 90%;
  margin: 0.5rem auto;
  display: block;
}
@media screen and (max-width: 769px) {
  .container section .available table tbody tr {
    display: flex;
    flex-direction: column;
  }
  .container section .available table tbody tr td.type {
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--table-border-color);
  }
  .container section .available table tbody tr td.type img {
    flex: 1;
    width: 50%;
    margin: auto;
  }
  .container section .available table tbody tr td.type .content {
    display: inline-block;
    flex: 1;
    padding: 1rem;
  }
  .container section .available table tbody tr td.options {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-border-separator);
  }
  .container section .available table tbody tr td.price {
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-border-separator);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container section .available table tbody tr td.price .title-r {
    text-transform: initial;
    font-weight: bold;
    display: block;
  }
  .container section .available table tbody tr td.choose {
    display: none;
  }
  .container section .available table tbody tr td.detail {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
  }
  .container section .available table tbody tr td.detail span:first-child {
    flex-basis: 40%;
  }
  .container section .available table tbody tr td.detail .price {
    flex-basis: 60%;
    text-align: right;
  }
  .container section .available table tbody tr td.detail button {
    flex-basis: 60%;
    float: right;
    margin: 0 0 0 auto;
  }
}

/* End - Section 6 */
.container footer {
  background-color: white;
  padding: 1rem 0;
}
.container footer div {
  padding: 1rem 0;
}
.container footer div .logo img {
  width: 200px;
  max-width: 200px;
}
.container footer div .social-networks {
  display: flex;
}
.container footer div .social-networks i {
  font-size: 2rem;
  margin-right: 0.5rem;
}
.container footer div .links a {
  display: block;
  text-decoration: none;
  font-size: small;
  margin-bottom: 0.5rem;
}
.container footer div .links a:hover {
  color: var(--text-color-other);
}
.container footer div span small {
  display: block;
}
.container footer div:nth-child(1) {
  display: flex;
  align-items: center;
}
.container footer div:nth-child(1) span {
  flex: 1 1 auto;
}
@media screen and (max-width: 769px) {
  .container footer div:nth-child(1) {
    flex-wrap: wrap;
  }
  .container footer div:nth-child(1) .logo {
    flex-basis: 50%;
  }
  .container footer div:nth-child(1) .logo img {
    width: 100%;
  }
  .container footer div:nth-child(1) .social-networks {
    flex-basis: 50%;
    justify-content: flex-end;
    align-self: center;
  }
  .container footer div:nth-child(1) span {
    padding-right: 0.5rem;
    flex: 1 0 auto;
    align-self: start;
  }
  .container footer div:nth-child(1) span small {
    white-space: nowrap;
  }
}
.container footer div:nth-child(2) {
  display: flex;
  align-items: center;
}
.container footer div:nth-child(2) span {
  flex: 1 1 auto;
  min-width: 220px;
}
@media screen and (max-width: 769px) {
  .container footer div:nth-child(2) {
    display: block;
    text-align: justify;
  }
  .container footer div:nth-child(2) .links {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    flex-wrap: wrap;
  }
  .container footer div:nth-child(2) .links a {
    margin-right: 1rem;
    white-space: nowrap;
  }
}
.container footer div:nth-child(3) {
  display: flex;
  justify-content: center;
}
.container footer div:nth-child(3) span {
  flex-basis: 80px;
}
.container footer div:nth-child(3) span * {
  width: 100%;
  padding: 1rem;
}

/* Buttons */
button.btn-upate {
  background-color: var(--btn-color);
  color: white;
  border: none;
  outline: none;
  padding: 0.6rem 1.8rem;
  font-size: 1em;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
button.btn-upate:hover {
  opacity: 0.9;
}
button.btn-upate:active {
  box-shadow: inset 1px 1px 2px white, inset 0 0 4px black, 1px 1px 1px #808080;
  opacity: 1;
}

.see-map {
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-color-other);
}
.see-map * {
  font-size: 1.4rem;
  color: inherit;
}
.see-map:hover {
  opacity: 0.6;
}
.see-map:active {
  opacity: 1;
}

.link {
  text-decoration: none;
  color: var(--text-color-other);
}

/* End - Buttons */

/*# sourceMappingURL=home.css.map */
