/* Header - Navbar */
header{
    max-width: 1024px;
    margin: auto;

    nav {
        // margin-top: -20rem;
        $font-size: 0.8rem;
        color: var(--text-color);
        background-color: white;
        display: flex;
        justify-content: space-around;
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            li {
                // margin: 0 1rem;
                a {
                    // height: 3rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: inherit;
                    font-size: $font-size;
                    padding: 0 1rem;
                    i {
                        font-size: $font-size * 1.8;
                        color: inherit;
                        margin-bottom: 5px;
                    }
                    &:hover {
                        color: var(--text-color-hover)
                    }

                    &.logo-upate {
                        img {
                            height: 2rem
                        }
                    }
                }
            }

            &.info {
                li {
                    display:flex;
                    a {
                        flex-direction: row;
                        i {
                            margin: 0 10px;
                            // font-size: inherit;
                        }
                    }
                }
            }

        }

    }
}
/* End - Header - Navbar */
