.container{
    section{
        .instructions {
            border-bottom: 1px solid var(--color-border-separator);
            background-color: white;
            padding: 2rem 0;
        }
    }
}