/* Section 4 */
.container{
    section{
        .services {
            border-bottom: 1px solid var(--color-border-separator);
            background-color: white;
            padding: 2rem 0;

            ul {
                display: flex;
                flex-wrap: wrap;
                max-width: 80%;
                li {
                    flex-basis: 50%;
                    font-size: 1rem;
                    vertical-align: middle;
                    margin-bottom: 1rem;
                    i {
                        margin-right: 1rem;
                        font-size: 1.6rem
                    }
                }
            }
           
        }
    }
}
/* End - Section 4 */